* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%; 
    position: relative;
    overflow: hidden;  
}

.slide-left {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1.0s ease;
}

.slide-left > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.slide-left h2 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: -40px;
}

.slide-right {
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
    left: 35%;
    transition: transform 1.0s ease;
}

.slide-right > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slide-1 {
    background-color: #e4c1c1;
}

.slide-2 {
    background-color: #4b40e7;
}

.slide-3 {
    background-color: #109c3a;
}

.slide-4 {
    background-color: #583d1d;
}

.img-1 {
    background-image: url(img/cesta.jpg);
}

.img-2 {
    background-image: url(img/dum.jpg);
}

.img-3 {
    background-image: url(img/voda.jpg);
}

.img-4 {
    background-image: url(img/zvire.jpeg);
}

.btn .arrow {
    position: absolute;
    z-index: 100;
    left: 35%;
    top: 50%;
}

.arrow img {
    background-color: aliceblue;
    width: 50px;
}

.down img {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.down img:hover {
    cursor: pointer;
    border: 1px solid black;
}

.up img {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.up img:hover {
    cursor: pointer;
    border: 1px solid black;
}